body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 75px;
    text-align: center;
}

.seat-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.seat {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}